* {
    font-size: 20px;
}

body
{
    background-color: #D4DCFF;
}

header
{
    display: flex;
    justify-content: space-between;
    background-color: #FFCF56;
    box-shadow: 0px 5px 0 black;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav
{
    text-align: center;
}

a
{
    display: inline-block;
    color: #3587A4;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    padding: 6px 8px;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 28px;
    transition: transform 100ms linear;
}

a:hover
{
    transform: scale(1.125);
}

h1,h2,h3,p
{
    color: #3587A4;
}
